<article class="wrapper {{currentTheme}}">
  <section class="component">
    <h2 class="component__heading">Sass Color Schemes Demo Page</h2>
    <ul class="component__list">
      <li class="component__list-item"></li>
      <li class="component__list-item"></li>
      <li class="component__list-item"></li>
      <li class="component__list-item"></li>
    </ul>
  </section>
</article>

<!--
Buttons to change theme
-->
<section class="controls">
  <button class="controls" data-theme="default" {{action "changeTheme" "default"}}>Default</button>
  <button class="controls" data-theme="banana" {{action "changeTheme" "banana"}}>Funny banana</button>
</section>